.schemaEditorWrapper {
  border-left: 1px solid #eee; 
  border-right: 1px solid #eee; 
  min-height: 100%;
  padding: 10px;
}

.componentEditorWrapper {
  padding: 10px;
}

.propsEditorWrapper {
  padding: 10px;
}

.mainWrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}


.wrapper {
  height: 100%;
}